.search-result {
  background: #3a3b3f;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;

  transition: 0.3s;
  height: 100%;
  text-decoration: none!important;

  h5 {
    color: #fafafa;
  }

  .desc {
    color: #bbb;
  }

  &:hover {
    background: #999999;
  }
}

a {
  text-decoration: none;
}