.profile {
  border-radius: 16px;
}

.navbar-container a {
  text-decoration: none;
}

.item-container {
  border-radius: 16px;
  padding: 9px 9px;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: #47d4a8;
  }
}

.subtitle {
  font-size: 95%;
}

.snavbar-item {
  padding: 9px 9px;
  border-radius: 16px;
  max-width: 290px;

  cursor: pointer;
  transition: 0.3s;

  color: #3a3a3a;

  &:hover:not(.current) {
    background: #47d4a8;
  }

  &.current {
    background: white;
  }
}
