@import 'scss/colors';

.profile {
  border-radius: 16px;
}

.navbar-container a {
  text-decoration: none;
}

.item-container {
  border-radius: 16px;
  padding: 9px 9px;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: #3d3d3d;
  }
}

.subtitle {
  font-size: 95%;
}

.snavbar-item {
  padding: 9px 9px;
  border-radius: 16px;
  max-width: 290px;

  cursor: pointer;
  transition: 0.3s;

  color: #d3d3d3;

  &:hover:not(.current) {
    background: #3d3d3d;
  }

  &.current {
    background: $palette-1;
    color: white;
  }
}
