html {
  background: #7decc9;
  max-height: 100vh;
}

.app-container {
  height: 100vh;

  overflow: hidden;
}

#root, body {
  background: transparent!important;
}

.content-container {
  background: white;
  border-radius: 32px;
  min-height: 100%;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content-col {
  max-height: 100vh;
  overflow: auto;
}

::selection {
  background: #bef8e6; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #bef8e6; /* Gecko Browsers */
}
