@import '~scss/style';

html {
  background: #292929;
  max-height: 100vh;
}

.app-container {
  height: 100vh;

  overflow: hidden;
}

#root, body {
  background: transparent!important;
  color: white;
}

.content-container {
  min-height: 100%;
}

.content-col {
  max-height: 100vh;
  overflow: auto;
}

::selection {
  background: #bef8e6; // WebKit/Blink Browsers
}
::-moz-selection {
  background: #bef8e6; // Gecko Browsers
}
